h1 {
    text-align: center;
    margin: 0px;
    padding: 5px;
}

h4 {
    text-align: center;
    margin: 5px;
    padding: 5px;
}

h3 {
    text-align: center;
    border: solid 5px #808080;
    border-radius: 25px;
    margin: 10px;
    padding: 5px;
  }

li {
    margin-left: 20px;
}